<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PayMapper">

	<resultMap type="com.bitcamp.sc.pay.domain.PayInfo" id="PayDomain">
		<result property="idx" column="id"/>
		<result property="price" column="price"/>
		<result property="date" column="date"/>
		<result property="way" column="way"/>
		<result property="status" column="status"/>
		<result property="orderIdx" column="oidx"/>
	</resultMap>

	<insert id="save" parameterType="com.bitcamp.sc.pay.domain.PayInfo" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO payment(price, date, way, status, oidx) VALUES(#{price}, #{date}, #{way}, #{status}, #{orderIdx})
	</insert>
	
	<select id="findByIdx" resultType="com.bitcamp.sc.pay.domain.PayInfo" resultMap="PayDomain">
		SELECT * FROM payment WHERE id=#{idx}
	</select>
	
	<select id="findByOrderIdx" resultType="com.bitcamp.sc.pay.domain.PayInfo" resultMap="PayDomain">
		SELECT * FROM payment WHERE oidx=#{orderIdx}
	</select>
	
	<select id="findByMemberIdx" resultType="com.bitcamp.sc.pay.domain.PayInfo" resultMap="PayDomain">
		SELECT id, price,date, way, status, p.oidx FROM payment p, orders o WHERE p.oidx=o.id AND o.midx=#{memberIdx}
	</select>

	<select id="findByCategoryAndMemberIdx" resultType="com.bitcamp.sc.pay.domain.PayInfo" resultMap="PayDomain">
		SELECT id, price, date, way, status, p.oidx
		FROM payment p, orders o
		WHERE p.oidx=o.id AND o.category=#{category} AND o.midx=#{memberIdx}
	</select>

</mapper>