<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 메인</title>
    <link rel="stylesheet" th:href="@{/css/review/reviewMain.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <th:block th:replace="frame/metaheader"></th:block>
</head>
<body>
<th:block th:replace="frame/header"></th:block>
<th:block th:replace="frame/nav"></th:block>
<!-- Content 영역 -->
<div class="my-5 text-center">
    <h1 class="font-weight-bold">리뷰</h1>
</div>
<div class="container gallery-container">
    <div class="gallery">
        <div class="row">
            <div class="col-lg border mx-2">
                <div class="mb-3">
                    <button class="btn"><a th:href="@{/reviews/save}">리뷰작성</a></button>
                    <label for="category">분류</label>
                    <select id="category" name="category">
                        <option value='' selected>선택</option>
                        <option th:value="tour">투어</option>
                        <option th:value="shop">상품</option>
                    </select>
                    <label for="period">기간</label>
                    <select id="period" name="period">
                        <option value='' selected>선택</option>
                        <option th:value="latest">최신순</option>
                        <option th:value="oldest">늦은순</option>
                    </select>
                </div>
                    <div class="row row-cols-2 g-3">
                        <th:block th:if="${#lists.isEmpty(reviewInfo)}">
                            <p>아직 작성된 리뷰가 없습니다.</p><br>
                            <p>제일 첫번째로 리뷰를 남겨주세요!</p>
                            <span><a th:href="@{/reviews/save}">리뷰작성</a></span>
                        </th:block>
                        <th:block th:if="${message} == '등록되었습니다.'">
                            <script>
                                alert('작성완료!');
                            </script>
                        </th:block>
                        <th:block th:if="${message} == '삭제되었습니다.'">
                            <script>
                                alert('삭제완료!');
                            </script>
                        </th:block>
                    </div>
                    <th:block th:each="list : ${reviewInfo}">
                        <div class="card shadow-sm">
                            <div class="thumbnail">
                                <a th:href="@{/reviews/read/{idx}(idx = ${list.idx},
                                page=${pageMaker.cri.page},
                                perPageNum = ${pageMaker.cri.perPageNum})}" id="cntView">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <th:block th:if="${list.gphoto == ''}">
                                                <img th:src="@{/images/review/scbeer.png}" alt="SinChonbeer">
                                            </th:block>
                                            <th:block th:unless="${list.gphoto == ''}">
                                                <img th:src="@{/reviews/image/{filename}(filename = ${list.gphoto})}"
                                                     alt="SinChonbeer" width="90%" height="150px" class="pl-3 pt-3">
                                            </th:block>
                                        </div>
                                        <div class="col-md-8 pt-3 text-muted">
                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <span th:text="|No. ${list.idx}|"></span>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <span class="pr-5" th:text="|조회수: ${list.viewcnt}|"></span>
                                                </div>
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-md-6">
                                                    <span th:text="|작성자 : ${list.name}님|"/>
                                                </div>
                                                <div class="col-md-6">
                                                    <span th:text="${list.title}"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                                            id="likeBtn">좋아요
                                                    </button>
                                                </div>
                                                <div class="col-md-8 text-right">
                                                    <small class="mr-3"
                                                           th:text="${list.date}" th:id="|regDate${list.idx}|"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </th:block>
                <!-- 검색 기능 및 작성 버튼 -->
                <div class="">
                    <form th:action="@{/reviews}" th:method="get" class="text-center">
                        <label for="search">게시글 검색</label>
                        <select id="search" name="searchType" >
                            <option value="" th:selected="${#strings.isEmpty(pageMaker.cri.searchType)}">전체</option>
                            <option value="name" th:selected="${#strings.equals(pageMaker.cri.searchType,'name')}">작성자</option>
                            <option value="title" th:selected="${#strings.equals(pageMaker.cri.searchType,'title')}">제목</option>
                            <option value="contents" th:selected="${#strings.equals(pageMaker.cri.searchType,'contents')}">내용</option>
                            <option value="titleContents" th:selected="${#strings.equals(pageMaker.cri.searchType,'titleContents')}">제목+내용</option>
                        </select>
                        <input type="text" id="searchKeyword" name="searchKeyword"
                               th:value="${pageMaker.cri.searchKeyword}"
                               onfocus="this.placeholder = ''"
                               th:placeholder="'검색할 내용을 입력하세요.'">
                        <input type="submit" th:value="검색">
                    </form>
                </div>
                <!-- 게시판 하단의 페이징 버튼 -->
                <div class="row justify-content-center">
                    <ul class="pagination pagination-sm ">
                        <th:block th:if="${pageMaker.cri.page != 1}">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{/reviews(page = 1,perPageNum=${pageMaker.cri.perPageNum})}">맨앞</a>
                            </li>
                            <li class="page-item" th:if="${pageMaker.prev} == true">
                                <a class="page-link"
                                   th:href="@{/reviews(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&lt;</a>
                            </li>
                        </th:block>
                        <li class="page-item"
                            th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
                            th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
                            <a class="page-link"
                               th:href="@{/reviews(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}"
                               th:text="${idx}"></a>
                        </li>
                        <li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
                            <a class="page-link"
                               th:href="@{/reviews(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&gt;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">맨뒤</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script th:inline="javascript">

    $(function () {
        [# th:each = "list : ${reviewInfo}"]
        let regDate[[${list.idx}]] = $('#regDate[[${list.idx}]]').text();
        console.log(regDate[[${list.idx}]]);
        let result[[${list.idx}]] = calcDate(regDate[[${list.idx}]]);
        console.log(result[[${list.idx}]]);
        $('#regDate[[${list.idx}]]').text(result[[${list.idx}]]);
        [/]

    });

    function calcDate(regDate) {
        const milliSeconds = new Date() - new Date(regDate);
        console.log(milliSeconds);
        const seconds = milliSeconds / 1000
        if (seconds < 60) return `방금 전`
        const minutes = seconds / 60
        if (minutes < 60) return `${Math.floor(minutes)}분 전`
        const hours = minutes / 60
        if (hours < 24) return `${Math.floor(hours)}시간 전`
        const days = hours / 24
        if (days < 7) return `${Math.floor(days)}일 전`
        const weeks = days / 7
        if (weeks < 5) return `${Math.floor(weeks)}주 전`
        const months = days / 30
        if (months < 12) return `${Math.floor(months)}개월 전`
        const years = days / 365
        return `${Math.floor(years)}년 전`
    }
</script>
<th:block th:replace="frame/footer"></th:block>
</body>
</html>