<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 메인</title>
    <link rel="stylesheet" th:href="@{/css/review/reviewMain.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <th:block th:replace="frame/metaheader"></th:block>
</head>
<body>
<th:block th:replace="frame/header"></th:block>
<th:block th:replace="frame/nav"></th:block>
<!-- Content 영역 -->
<div class="my-5 text-center">
    <h1 class="font-weight-bold">리뷰</h1>
</div>
<div class="container gallery-container">
    <div class="gallery">
        <div class="row">
            <div class="col-lg border mx-2">
                <div>
                    <button><a th:href="@{/reviews/save}">리뷰작성</a></button>
                    <label for="search">게시글 검색</label>
                    <select id="search" name="search">
                        <option th:value="all" selected>전체</option>
                        <option th:value="name">작성자</option>
                        <option th:value="title">제목</option>
                        <option th:value="content">내용</option>
                        <option th:value="titleContent">제목+내용</option>
                    </select>
                    <input type="text" id="find" name="find" th:placeholder="'검색할 내용을 입력하세요.'">
                    <input type="submit" th:value="검색">
                    <label for="category">분류</label>
                    <select id="category" name="category">
                        <option value='' selected>선택</option>
                        <option th:value="tour">투어</option>
                        <option th:value="shop">상품</option>
                    </select>
                    <label for="period">기간</label>
                    <select id="period" name="period">
                        <option value='' selected>선택</option>
                        <option th:value="latest">최신순</option>
                        <option th:value="oldest">늦은순</option>
                    </select>
                </div>
                <div class="container">
                    <div class="row row-cols-2 g-3">
                        <th:block th:if="${#lists.isEmpty(reviewInfo)}">
                            <p>아직 작성된 리뷰가 없습니다.</p><br>
                            <p>제일 첫번째로 리뷰를 남겨주세요!</p>
                            <span><a th:href="@{/reviews/save}">리뷰작성</a></span>
                        </th:block>
                        <th:block th:if="${param.status}">
                            <script>
                                alert('작성완료!');
                            </script>
                        </th:block>
                        <th:block th:each="list : ${reviewInfo}">
                            <div class="card shadow-sm">
                                <div class="thumbnail">
                                    <th:block th:if="${list.gphoto == ''}">
                                        <img th:src="@{/images/review/scbeer.png}" alt="SinChonbeer">
                                    </th:block>
                                    <th:block th:unless="${list.gphoto == ''}">
                                        <img th:src="@{/reviews/image/{filename}(filename = ${list.gphoto})}"
                                             alt="SinChonbeer" width="100px" height="30px">
                                    </th:block>
                                    <div class="card-body">
                                        <a class="card-text review-title" th:text="${list.title}"
                                           th:href="@{/reviews/{idx} (idx = ${list.idx})}"
                                           style="font-size:30px;"></a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                                        id="likeBtn">좋아요
                                                </button>
                                                <!-- <a class="btn-sinchon btn btn-sm-padding" th:onclick="|likeReview('${view.idx}')|" >좋아요</a> -->
                                            </div>
                                            <small class="text-muted" th:text="${list.date}"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <!-- 게시판 하단의 페이징 버튼 -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li th:if="${pageMaker.prev} == true">
                                <a th:href="@{/reviews(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&lt;</a>
                            </li>
                            <li th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
                                 th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
                                <a th:href="@{/reviews(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}"
                                   th:text="${idx}"></a>
                            </li>
                            <li th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
                                <a th:href="@{/reviews(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&gt;</a>
                            </li>
                            <li>D
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.gallery');
</script>
<th:block th:replace="frame/footer"></th:block>
</body>
</html>