<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰보기</title>
    <link rel="stylesheet" th:href="@{/css/review/view.css}">
    <th:block th:replace="frame/metaheader"></th:block>
    <script type="text/javascript">
        // 게시글 삭제
        function deleteReview(idx) {
            $.ajax({
                url: "/review/delete",
                type: "POST",
                data: {"idx": idx},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data == 1) {
                        alert("글 삭제가 완료되었습니다.");
                        window.location = '/reviews';
                    } else {
                        alert("글 삭제가 실패하였습니다.");
                    }
                },
            });
        }
    </script>
</head>
<body>
<th:block th:replace="frame/header"></th:block>
<th:block th:replace="frame/nav"></th:block>
<!-- Content 영역 -->
<div class="my-3 text-center">
    <h1 class="font-weight-bold">리뷰 상세</h1>
</div>
<!-- 게시판 -->
<div class="container">
    <div class="row ml-5 mr-5">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th class="listTag">제목</th>
                <td class="listContents" th:text="${view.title}" colspan="5"></td>
            </tr>
            <tr>
                <th class="listTag">작성자</th>
                <td class="listContents" th:text="${view.name}" colspan="5"></td>
            </tr>
            <tr>
                <th class="listTag">카테고리</th>
                <td class="listContents" th:text="${view.category}" colspan="5"></td>
            </tr>
            <tr>
                <th class="listTag">작성일</th>
                <td class="listContents" th:text="${view.date}" ></td>
                <th class="listTag">평점</th>
                <td class="listContents" th:text="${view.rate}" ></td>
                <th class="listTag">조회 수</th>
                <td class="listContents" th:text="${view.viewcnt}"></td>
            </tr>
            <tr>
                <td id="summernote" class="contents_writing" th:utext="${view.contents}" colspan="6"></td>
            </tr>
            </tbody>
        </table>
        <div class="btn_div">
            <a class="btn btn-sm-padding btn_list" th:href="@{/reviews(page = ${page}, perPageNum = ${perPageNum})}">뒤로가기</a>
            <th:block th:if="${session.loginMember != null && session.loginMember.name == view.name}">
                <form th:action="@{'/reviews/delete/'+${view.idx}}" th:method="delete">
                        <button class="btn btn-sm-padding btn_del"type="submit" id="removeBtn">삭제</button>
                </form>
                <a class="btn btn-sm-padding btn_del" th:href="@{/reviews/edit/{idx}(idx = ${view.idx}, page = ${page}, perPageNum = ${perPageNum})}">수정</a>
            </th:block>
        </div>
    </div>

        <!-- 탭 메뉴 -->
        <ul class="nav nav-tabs mt-5 justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#photo" type="button">리뷰사진</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#comment" type="button">댓글</a>
            </li>
        </ul>


    <!-- 내용 -->
    <div class="tab-content mt-3 text-center">
        <div class="tab-pane fade show active" id="photo">
            <img th:src="@{/reviews/image/{filename}(filename = ${view.gphoto})}"
                 alt="SinChonbeer" width="500px" height="300px" class="pl-3 pt-3">
        </div>
        <div class="tab-pane fade" id="comment">
            <div>
                <div th:each="list : ${commentList}">

                </div>
                댓글 탭
            </div>

            <form class="form-horizontal form-view">
                <div class="input-group margin-bottom-20">
                    <input type="text" id="content" class="form-control" />
                    <div class="input-group-btn">
                        <button type="button" class="btn waves-effect waves-light">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="notice-list"></ul>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="frame/footer"></th:block>
<script>
    $(function (){
       $('#removeBtn').click(function (){
          if(!confirm('삭제하시면 복구가 불가능 합니다. \n 정말 삭제하시겠습니까?')){
              return false;
          }
       });
    });
</script>
</body>
</html>