<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰보기</title>
    <link rel="stylesheet" th:href="@{/css/review/view.css}">
    <th:block th:replace="frame/metaheader"></th:block>
    <script type="text/javascript">
        // 게시글 삭제
        function deleteReview(idx) {
            $.ajax({
                url: "/review/delete",
                type: "POST",
                data: {"idx": idx},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data == 1) {
                        alert("글 삭제가 완료되었습니다.");
                        window.location = '/reviews';
                    } else {
                        alert("글 삭제가 실패하였습니다.");
                    }
                },
            });
        }
    </script>
</head>
<body>
<th:block th:replace="frame/header"></th:block>
<th:block th:replace="frame/nav"></th:block>
<!-- Content 영역 -->
<div class="my-3 text-center">
    <h1 class="font-weight-bold">리뷰 상세</h1>
</div>
<!-- 게시판 -->
<div class="container">
    <div class="row ml-5 mr-5">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th class="listTag">제목</th>
                <td class="listContents" th:text="${view.title}" colspan="5"></td>
            </tr>
            <tr>
                <th class="listTag">작성자</th>
                <td class="listContents" th:text="${view.name}" colspan="5"></td>
            </tr>
            <tr>
                <th class="listTag">카테고리</th>
                <td class="listContents" th:text="${view.category}" colspan="5"></td>
            </tr>
            <tr>
                <th class="listTag">작성일</th>
                <td class="listContents" th:text="${view.date}" ></td>
                <th class="listTag">평점</th>
                <td class="listContents" th:text="${view.rate}" ></td>
                <th class="listTag">조회 수</th>
                <td class="listContents" th:text="${view.viewcnt}"></td>
            </tr>
            <tr>
                <td id="summernote" class="contents_writing" th:utext="${view.contents}" colspan="6"></td>
            </tr>
            </tbody>
        </table>
        <div class="btn_div">
            <a class="btn btn-sm-padding btn_list" th:href="@{/reviews(page = ${page}, perPageNum = ${perPageNum})}">뒤로가기</a>
            <th:block th:if="${session.loginMember != null && session.loginMember.name == view.name}">
                <form th:action="@{'/reviews/delete/'+${view.idx}}" th:method="delete">
                        <button class="btn btn-sm-padding btn_del"type="submit" id="removeBtn">삭제</button>
                </form>
                <a class="btn btn-sm-padding btn_del" th:href="@{/reviews/edit/{idx}(idx = ${view.idx}, page = ${page}, perPageNum = ${perPageNum})}">수정</a>
            </th:block>
        </div>
    </div>

        <!-- 탭 메뉴 -->
        <ul class="nav nav-tabs mt-5 justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#photo" type="button">리뷰사진</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#comment" type="button">댓글<span id="count"/></a>
            </li>
        </ul>


    <!-- 내용 -->
    <div class="tab-content mt-3 text-center">
        <div class="tab-pane fade show active" id="photo">
            <img th:src="@{/reviews/image/{filename}(filename = ${view.gphoto})}"
                 alt="SinChonbeer" width="500px" height="300px" class="pl-3 pt-3">
        </div>
        <div class="tab-pane fade" id="comment">
            <form class="form-horizontal form-view">
                <div class="input-group margin-bottom-20 mb-3">
                    <input type="text" id="content" class="form-control" />
                    <div class="input-group-btn ">
                        <button type="button" class="btn waves-effect waves-light" th:onclick="insertComment([[${view.idx}]])">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="notice-list list-group"></ul>
            </form>
        </div>
    </div>
    <!-- 댓글 수정,삭제를 위한 모달-->
    <th:block layout:fragment="modal">
        <div id="commentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="modalWriter" class="col-form-label">작성자</label>
                                <input type="text" id="modalWriter" class="form-control" placeholder="작성자를 입력해 주세요." />
                            </div>
                            <div class="form-group">
                                <label for="modalContent" class="col-form-label">내용</label>
                                <input id="modalContent" class="form-control" placeholder="내용을 입력해 주세요."/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnModalCancel" class="btn btn-default waves-effect waves-light" data-dismiss="modal">취소하기</button>
                        <button type="button" id="btnCommentUpdate" class="btn btn-primary waves-effect waves-light" onclick="updateComment()">수정하기</button>
                        <button type="button" id="btnCommentDelete" class="btn btn-danger waves-effect waves-light">삭제하기</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>
<th:block th:replace="frame/footer"></th:block>
<script th:inline="javascript">
    $(function (){
        printCommentList();
        getTotalCount();
    });
    /* 댓글 총 개수 */
    function getTotalCount(){
        var uri = /*[[@{/comments/totalCount/}+${view.idx}]]*/;
        $.get(uri,function (response){
            if(response > 0){
                $('#count').text('['+response+']');
            }
        },"json");
    }
    /* 댓글 리스트 */
    function printCommentList() {
        var uri =/*[[@{/comments/}+${view.idx}]]*/;
        $.get(uri, function(response) {
            console.log(response);
            if (response != null) {
                let commentsHtml = "";
                $(response.commentList).each(function(idx, comment) {
                    commentsHtml += `
						<li class="list-group-item">
							<span class="text-left d-block" >${comment.writer}</span>
							<span class="float-left">${comment.content}</span>
                            <span class="float-right">${comment.insertTime}</span>
                            <br>
                            <button type="button" onclick="openModal(${comment.idx}, '${comment.writer}', '${comment.content}' )" class="btn btn-xs btn-circle float-right"><i class="fas fa-user"></i></button>
						</li>
					`;
                });

                $(".notice-list").html(commentsHtml);
            }
        }, "json");
    }
    /* 댓글 작성 */
    function insertComment(reviewIdx){
        let content = $('#content').val();
        console.log(content);
        if(content == null || content == '' || content == undefined){
            $('#content').attr('placeholder','댓글을 입력해주세요.');
            $('#content').focus();
            return false;
        }
        const uri = /*[[@{/comments}]]*/;
        let headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
        let params = {"reviewIdx": reviewIdx, "content": content, "writer": "관리자"};

        $.ajax({
            url: uri,
            type: "POST",
            headers: headers,
            dataType: "json",
            data: JSON.stringify(params),
            success: function(response) {
                if (response.result == false) {
                    alert("댓글 등록에 실패하였습니다.");
                    return false;
                }
                alert('댓글이 등록되었습니다.');
                printCommentList();
                getTotalCount();
                $('#content').val('');
            },
            error: function(xhr, status, error) {
                alert("에러가 발생하였습니다.");
                return false;
            }
        });
    }
    /* 댓글 수정 */
    function updateComment(idx){
        let writer = $('#modalWriter').val();
        let content = $('#modalContent').val();
        console.log(writer+ ': '+ content);

        const uri = /*[[@{/comments/}]]*/+idx;
        console.log(uri);
        let headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "PATCH"};
        let params = {"idx": idx, "writer": writer, "content": content};

        $.ajax({
            url: uri,
            type: "PATCH",
            headers: headers,
            dataType: "json",
            data: JSON.stringify(params),
            success: function(response) {
                if (response.result == false) {
                    alert("댓글 수정에 실패하였습니다.");
                    return false;
                }
                alert('댓글이 수정되었습니다.');
                printCommentList();
                $("#commentModal").modal("hide");
            },
            error: function(xhr, status, error) {
                alert("에러가 발생하였습니다.");
                return false;
            }
        });
    }
    /* 댓글 삭제 */
    function deleteComment(idx) {
        console.log(idx);
        if (!confirm('댓글을 삭제하시겠어요?')) {
            return false;
        }
        var uri = '/comments/'+idx;
        console.log(uri);
        let headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "DELETE"};
        $.ajax({
            url: uri,
            type: "DELETE",
            headers: headers,
            /*dataType: "json",*/
            success: function(response) {
                if (response.result == false) {
                    alert("댓글 삭제에 실패하였습니다.");
                    return false;
                }
                alert('댓글이 삭제되었습니다.');
                printCommentList();
                $("#commentModal").modal("hide");
            },
            error: function(xhr, status, error) {
                alert("에러가 발생하였습니다."+xhr+":"+status+":"+error);
                return false;
            }
        });
    }
    /* 댓글 수정,삭제를 위한 모달창 열기 */
    function openModal(idx, writer, content) {
        $("#commentModal").modal("toggle");
        $('#modalWriter').val(writer);
        $('#modalContent').val(content);
        $('#btnCommentUpdate').attr('onclick','updateComment('+ idx +')');
        $('#btnCommentDelete').attr('onclick','deleteComment('+ idx +')');
    }
</script>
</body>
</html>