<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/mypage/edit-info.css}">
    <link rel="stylesheet" th:href="@{/css/member/regForm.css}">
    <th:block th:replace="frame/metaheader"></th:block>
</head>
<body>
<th:block th:replace="frame/header"></th:block>
<th:block th:replace="frame/nav"></th:block>
<div class="mt-5 text-center pb-5">
    <p class="text-center text-48 text-sinchon mb-0">MY PAGE</p>
    <p class="text-center text-14">안녕하세요 신촌맥주입니다.</p>
</div>
<div id="scrollableNavBar">
    <div class="row justify-content-between mb-5 pb-3">
        <div class="col text-center text-14">
            <a th:href="@{/mypage/orderList/{midx}(midx = ${idx})}" class="link-unstyle">주문 내역</a>
        </div>
        <div class="col text-center text-14">
            <a th:href="@{/mypage/rezList/{midx}(midx = ${idx})}" class="link-unstyle">예약 내역</a>
        </div>
        <div class="col text-center text-14">
            <a th:href="@{/mypage/member/{midx}/edit (midx = ${idx})}" class="link-unstyle">
                <span class="pb-1 border-bottom border-sinchon text-sinchon">정보 수정</span>
            </a>
        </div>
        <div class="col text-center text-14">
            <a th:href="@{/mypage/delete-id/{midx}(midx = ${idx})}" class="link-unstyle">회원 탈퇴</a>
        </div>
    </div>
</div>
<div class="container">
    <p class="text-center text-32 mb-5">정보 수정</p>
    <div class="row justify-content-center">
        <div class="col-lg-2" id="sideBar" >
            <ul class="text-14 list-unstyled">
                <li class="mb-4"><a th:href="@{/mypage/orderList/{midx}(midx = ${idx})}" class="link-unstyle">상품 주문 내역 :</a></li>
                <li class="mb-4"><a th:href="@{/mypage/rezList/{midx}(midx = ${idx})}" class="link-unstyle">투어 예약 내역 :</a></li>
                <li class="mb-4"><a th:href="@{/mypage/member/{midx}/edit (midx = ${idx})}" class="link-unstyle">정보 수정
                    <span class="pb-1 border-bottom border-sinchon text-sinchon">정보 수정</span></a>
                </li>
                <li class="mb-4"><a th:href="@{/mypage/delete-id/{midx}(midx = ${idx})}" class="link-unstyle">회원 탈퇴</a></li>
                <!-- 나의 리뷰 목록  -->
            </ul>
        </div>
        <div class="col-lg-8">
            <div class="row justify-content-center">
                <form class="text-15" id="editInfoContent" method="post">
                    <th:block th:each="list : ${list}">
                        <fieldset class="mb-4">
                            <label for="memail">이메일</label>
                            <input type="text" id="memail" th:value="${list.email}" readonly/>
                            <input type="hidden" th:value="${list.idx}" name="midx">
                        </fieldset>
                        <fieldset class="mb-4">
                            <label for="mpw">비밀번호<i class="icon_orange"></i></label>
                            <input type="password" id="mpw" placeholder="기존 비밀번호 입력">
                            <input type="password" id="mnewPw" name="newPw"
                                   placeholder="비밀번호를 변경하는 경우 입력하세요">
                            <input type="password" id="mrePw" placeholder="비밀번호 확인">
                            <div class="msg"></div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <div>
                                <label for="mname">이름<i class="icon_orange"></i></label>
                                <input type="text" id="mname" name="mname" th:value="${list.name}">
                                <div class="msg"></div>
                            </div>
                        </fieldset>
                        <fieldset class="mb-4">
                            <label for="mphone">연락처<i class="icon_orange"></i></label>
                            <div>
                                <input type="text" id="mphone" name="phone" th:value="${list.phone}">
                                <div class="msg"></div>
                            </div>
                        </fieldset>
                        <!-- 카카오 주소 API -->
                        <fieldset class="mb-4">
                            <label for="address">주소<i class="icon_orange"></i></label>
                            <div class="couple_box ">
                                <input type="hidden" name="aidx" th:value="${list.aidx}">
                                <input type="hidden" id="postcode"
                                       placeholder="우편번호" name="postcode">
                                <input type="hidden" value="우편번호 찾기"><br>
                                <input type="text" class="foldTarget" onclick="execDaumPostcode()"
                                       id="address" name="address1"
                                       th:value="${list.address1}" placeholder="주소">
                                <div class="foldTarget" id="wrap" style="display: none; border: 1px solid;
									 width: 400px; height: 300px; margin: 5px 0; position: relative"></div>
                                <input type="text" id="detailAddress" th:value="${list.address2}"
                                       name="address2" placeholder="상세주소">
                                <input type="hidden" id="extraAddress" placeholder="참고항목">
                                <div class="msg"></div>
                            </div>
                        </fieldset>
                    </th:block>
                    <input type="submit" class="btn btn-sinchon btn-block" id="submitBtn" value="확인">
                </form>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<th:block th:replace="frame/footer"></th:block>
<script th:src="@{https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script th:src="@{/js/mypage/mypage-edit.js}"></script>
</body>
</html>