<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsMapper">
	
	<resultMap type="com.bitcamp.sc.domain.goods.domain.Goods" id="GoodsVo">
		<result property="idx" column="id"/>
		<result property="name" column="name"/>
		<result property="price" column="price"/>
		<result property="photo" column="photo"/>
		<result property="title" column="title"/>
	</resultMap>
	
	<!-- 01.상품추가 -->
	<insert id="save"
			parameterType="com.bitcamp.sc.domain.goods.domain.Goods"
			useGeneratedKeys="true"
			keyProperty="idx"
	>
		INSERT INTO goods(name, price, photo, title) VALUES(#{name}, #{price}, #{photo}, #{title})
	</insert>

	<!-- 상품 삭제 -->
	<delete id="deleteGoods" parameterType="com.bitcamp.sc.domain.goods.domain.Goods">
		DELETE FROM goods WHERE id= #{idx}
	</delete>
	
	<!-- 상품 찾기 -->
	<select id="findByIdx" resultMap="GoodsVo" parameterType="long">
		SELECT * FROM goods where id= #{idx}
	</select>

</mapper>