body {
    background-color: #f3f3f3;
}

#header, #gnb, #footer{
    background-color: white;
}

.tip-off {
    background-color: white;
    margin-bottom: 16px;
    padding: 24px;
}

.tip-off h6 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 18px;
}

.tip-off a, .tip-off a:hover {
    color: #3d464b;
    text-decoration: none;
}

.product-info-wrap {
    display: table-cell;
    vertical-align: top;
    word-break: break-all;
    font-size: 14px;
}

.text-gray {
    color: #757575 !important;
}

.text-sinchon {
    color: #05cdd5 !important;
}

.text-15 {
    font-size: 16px !important;
}

.text-15 {
    font-size: 15px !important;
}

.text-14 {
    font-size: 14px !important;
}

.text-13 {
    font-size: 13px !important;
}

.btn-sinchon{
    color: white !important;
    background-color: #05cdd5;
    border-color: #05cdd5;
}

.btn-sinchon:hover {
    color: #05cdd5 !important;
    background-color: white;
    border-color: #05cdd5;
}

.btn-pay {
    color: white !important;
    background-color: #05cdd5;
    border-color: #05cdd5;
    border-radius: 0 !important;
}

.btn-pay:hover {
    color: white !important;
    background-color: #189fa6;
    border-color: #189fa6;
}

.btn-sm-padding {
    padding: 6px 12px;
}

.btn_top_right {
    position: absolute;
    right: 15px;
    top: 0;
}

.btn-coupon {
    height: 36px;
    width: 100%;
    line-height: 34px;
    padding: 0 !important;
}

.btn-tools {
    height: 36px;
    padding: 0;
    line-height: 36px;
    background-color: #F2F2F2;
    border: 1px solid #ddd;
    color: #20252b;
}