<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderMapper">

	<resultMap type="com.bitcamp.sc.domain.order.domain.OrderInfo" id="OrderDomain">
		<result property="idx" column="id"/>
		<result property="date" column="date"/>
		<result property="category" column="category"/>
		<result property="tourIdx" column="tidx"/>
		<result property="memberIdx" column="midx"/>
		<result property="addressIdx" column="aidx"/>
		<result property="price" column="price"/>
		<result property="tourPeople" column="people"/>
		<result property="goodsIdx" column="gidx"/>
		<result property="amount" column="amount"/>
	</resultMap>

	<insert id="save" parameterType="com.bitcamp.sc.domain.order.domain.OrderInfo" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO orders
		<choose>
			<when test='category.equals("tour")'>
				(category, price, tidx, people,midx) VALUES(#{category}, #{price}, #{tourIdx}, #{tourPeople}, #{memberIdx})
			</when>
			<when test='category.equals("shop")'>
				(category,midx,aidx,amount,gidx,) values(#{category},#{midx},#{aidx},#{amount},#{gidx})
			</when>
		</choose>
	</insert>
	
	<select id="findByIdx" resultType="com.bitcamp.sc.domain.order.domain.OrderInfo" resultMap="OrderDomain">
		SELECT * FROM orders WHERE id=#{idx}
	</select>
	
	<select id="findByMemberIdx" resultType="com.bitcamp.sc.domain.order.domain.OrderInfo" resultMap="OrderDomain">
		SELECT * FROM orders WHERE midx=#{memberIdx}
	</select>

	<select id="findByCategoryAndMemberIdx" resultType="com.bitcamp.sc.domain.order.domain.OrderInfo" resultMap="OrderDomain">
		SELECT * FROM orders WHERE category=#{category} and midx=#{memberIdx} and status='confirmed'order by tidx
	</select>
	
	<delete id="deleteByIdx">
		DELETE FROM orders WHERE id=#{idx}
	</delete>
	
	<update id="updateStatus">
		UPDATE orders SET status=#{status} WHERE id=#{idx}
	</update>

</mapper>