<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신촌맥주 장바구니</title>
    <th:block th:include="frame/metaheader"></th:block>
    <link rel="stylesheet" th:href="@{/css/cart/cart.css}">
    <style>
        .modal-dialog {
            vertical-align: middle;
        }
        .high {
            height: 20px;
        }
        .size {
            width: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:include="frame/header"></th:block>
<th:block th:include="frame/nav"></th:block>
<!-- 장바구니 영역 START -->
<div class="container">
    <div class="row text-center m-5"> <!--class="carthead"-->
        <div class="col">
            <p class="p_f" style="color: #5ae5ec; font-size: 55px; font-weight:900 ;">CART</p>
            <p class="howsinchon" style="font-size: 14px;">당신의 신촌은 어떤가요?</p>
        </div>
    </div>
    <!-- 장바구니 헤더 -->
    <h4 class="m-3">장바구니</h4>
    <!-- <div class="row">  -->
    <table id="basketTable" class="table ">
        <colgroup>
            <col style="width: 40px;">
            <col>
            <col style="width: 100px;">
            <col style="width: 80px;">
            <col style="width: 120px;">
            <col style="width:  130px;">
            <col style="width: 130px;">
            <col style="width: 150px;">
        </colgroup>
        <thead class="thead_main">
        <tr>
            <th style="width: 3%;">
                <label>
                    <div class="checkbox">
                        <input type="checkbox" class="check" id="th_checkAll" value="selectall" onclick="checkAll()">
                    </div>
                </label>
            </th>
            <th>item</th>
            <th>수량</th>
            <th></th>
            <th></th>
            <th>배송수단</th>
            <th>가격</th>
            <th>삭제</th>
        </tr>
        </thead>
        <!-- 장바구니 상품 목록 -->
        <th:block th:if="${list == null or total == 0}">
            <tbody>
            <tr>
                <td colspan="8" style="height:200px;" class="text-center">장바구니가 비었습니다.</td>
            </tr>
            </tbody>
        </th:block>
        <tbody id="GoodsTable">
        <th:block th:unless="${list == null or total == 0}">
            <tr th:each="list : ${list}">
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="checkRow" class="_cartItemCheckbox check" checked
                                   th:value="${list.price}">
                            <input type="hidden" th:value="${list.photo}" id="gphoto" name="gphoto">
                            <input type="hidden" th:value="${list.gidx}" id="gidx" name="gidx">
                            <input type="hidden" th:value="${list.idx}" id="bidx" name="bidx">
                            <input type="hidden" th:value="${list.price}" id="gprice" name="gprice">
                            <input type="hidden" th:value="${list.name}" id="gname" name="gname">
                            <input type="hidden" th:value="${list.count}" id="count" name="count">
                        </label>
                    </div>
                </td>
                <td class="text-left">
                    <!-- 이미지 클릭시 경로이동 -->
                    <a th:href="@{/shop/{gidx}(gidx = ${list.gidx})}">
                        <div>
                            <img th:src="@{${'/images/shop/' + list.gphoto + '.png'}}" width="60" height="60">
                            <span th:text="${list.gname}"></span>
                        </div>
                    </a>
                </td>
                <td class="amount">
                    <div class="textsize ">
                        <sapn class="hidden-lg">상품개수</sapn>
                        <em class="hidden-lg">총</em>
                        <!-- 상품 수량 -->
                        <input type="text" th:value="${list.bcount}" class="border-0 high" th:id="count+${list.gidx}">

                        <em class="hidden-lg"></em>
                    </div>
                </td>
                <td>
                    <div class="text-center">
                        <span class="cart-btn"></span>
                        <button class="btn" data-toggle="modal" name="changeButton"
                                data-target="#myModal" th:attrappend="data-target=${list.gidx}"
                                th:onclick="|button(${list.gidx})|">변경
                        </button>
                        <div class="modal" th:id="myModal+${list.gidx}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header mx-auto">
                                        <h5 class="modal-title " id="exampleModalLabel">수량변경 </h5>
                                    </div>
                                    <div class="modal-body mx-auto">
                                        <div>
                                            <button class="btn" th:id="plus+${list.gidx}"
                                                    th:onclick="|count(${list.gidx},'plus')|">+
                                            </button>
                                            <span id="test1"></span>
                                            <input type="text" name="test" th:value="${list.count}"
                                                   th:id="cnt+${list.gidx}" class="size">
                                            <button class="btn" th:id="minus+${list.gidx}"
                                                    th:onclick="|count(${list.gidx},'minus')|">-
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-footer mx-auto">
                                        <button class="btn" id="modalY"
                                                th:onclick="|modify(${list.gidx},${list.midx})|">변경
                                        </button>
                                        <button class="btn" type="button" data-dismiss="modal">취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:value="${list.midx}" id="midx">
                    <input type="hidden" th:value="${list.gidx}" id="gidx">
                </td>
                <td>

                </td>
                <td>
                    <div>택배</div>
                </td>
                <td class="price">
                    <!-- 테이블 한행당 상품 가격 -->
                    <span th:text="${list.price}"></span>
                    <span>원</span>
                </td>
                <td class="cart-btn">
                    <input type="button" value="삭제" class="deleteRow">
                </td>
            </tr>
            <!-- 체크된 상품총 가격 -->
            <tr class="payment-info">
                <td colspan="5"></td>
                <td class="pay-txt">
                    <p>상품 가격</p>
                </td>
                <td class="pay-number">
                    <p class="cart-price">
                        <span id="totalPrice"></span>
                        <span>원</span>
                    </p>
                </td>
                <td></td>
            </tr>
        </th:block>
        </tbody>

        <th:block th:unless="${list == null or total == 0}">
            <tfoot>
            <tr>
                <td class="cart-btn" colspan="5">
                    <!-- 자바스크립트 -->
                    <button class="btn" id="deleteGoodsByPicking">선택상품 삭제</button>
                    <button id="removeAll">전체 상품 삭제</button>
                </td>
                <!-- 상품 결제 금액 -->
                <td class="amout-txt">
                    <span>결제금액</span>
                </td>
                <td class="amount-text-brand" style="font-size: 20px; font-weight: 600; color: #5ae5ec;">
                    <!-- <form style="display: inline-block;" th:object="${order}"> -->
                    <span name="payPrice" id="payPrice">원</span>
                    <!-- </form>  -->
                </td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </th:block>
    </table>
</div>
<div class="shoporbuy">
    <div class="row ">
        <!-- 주문하는 페이지로, onclcick="자바 스크립"  -->
        <th:block th:unless="${list == null or total == 0}">
            <!-- <form action ="test" method="post" id= "orderform"> -->
            <!-- <input type="hidden" name="bidx[]" id="order"> -->
            <!-- </form> -->
        </th:block>
        <!-- 주문버튼 부분 -->
        <!--  <form name="from2" id="form2" action="/basket/test" method='get'>  -->
        <button class="btn" style="margin-left: 650px; background-color:#ddd; color:#black;" id="chooseOrder"> 주문하기
        </button>
        <!-- </form>  -->
    </div>
</div>
</div>
<!-- END -->
<th:block th:include="frame/footer"></th:block>
<script th:inline="javascript" th:src="@{/js/basket/basket.js}" />
</body>
</html>