<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BasketMapper">

    <resultMap type="com.bitcamp.sc.domain.basket.domain.Basket" id="BasketVo">
        <id property="idx" column="id"/>
        <result property="midx" column="midx"/>
        <result property="count" column="count"/>
        <association property="goods"  column="gidx" javaType="com.bitcamp.sc.domain.goods.domain.Goods">
            <id property="idx" column="gidx" />
            <result property="name" column="name" />
            <result property="price" column="price" />
            <result property="photo" column="photo" />
            <result property="title" column="title" />
        </association>
    </resultMap>

    <!-- 장바구니 추가 -->
    <insert id="save" parameterType="com.bitcamp.sc.domain.basket.domain.Basket"
            useGeneratedKeys="true"
            keyProperty="idx">
        INSERT INTO basket(count, midx, gidx)
        VALUES (#{count}, #{midx}, #{goods.idx})
    </insert>

    <!-- 장바구니 gidx 존재여부 -->
    <select id="findByGidxAndMidx" resultMap="BasketVo" >
        select basket.midx, basket.count, basket.id,
               goods.id as gidx, goods.name, goods.title, goods.price,goods.photo
        from basket join goods  on goods.id = basket.gidx
        where midx = #{midx} and gidx = #{gidx}
    </select>

    <!-- 02.장바구니 리스트 -->
    <select id="findAllByMidx" resultMap="BasketVo" parameterType="long">
        select basket.id as id, midx, gidx, count, name, (count * price) as price, photo
        from basket
                 inner join goods on basket.gidx = goods.id
        where midx = #{midx}
        order by gidx
    </select>

    <!-- 각 고객의 장바구니에 담긴 총 금액 -->
    <select id="getTotal" resultType="int">
        select sum(count * price) as total
        from basket
                 natural join goods
        where midx = #{midx}
    </select>

    <!-- 05. 장바구니 금액 합계 -->
    <select id="sumMoney" resultType="int">
        SELECT IFNULL(SUM(price * count), 0) money
        FROM basket b,
             goods g
        WHERE b.id = g.id
          AND midx = #{memberIdx}
    </select>

    <!-- 06.장바구니 상품확인 -->
    <select id="countCart" resultType="int">
        SELECT COUNT(*)
        FROM basket
        WHERE midx = #{memberIdx}
          AND gidx = #{goodsIdx}
    </select>

    <!-- 장바구니 한 상품 당 수량 변경 -->
    <update id="updateCount" parameterType="com.bitcamp.sc.domain.basket.domain.Basket">
        update basket
        set count = #{count}
        where gidx = #{goods.idx}
          and midx = #{midx}
    </update>


    <!-- 03. 장바구니 단일 행 삭제 -->
    <delete id="deleteRow" >
        DELETE
        FROM basket
        where gidx = #{gidx}
          and midx = #{midx}
    </delete>

    <delete id="deleteGoods" parameterType="map">
        delete from basket
        <where>
            midx = #{midx} and gidx in
            <foreach collection="gidxList" item="item" open="(" close=")" separator=",">
                   #{item}
            </foreach>
        </where>
    </delete>

    <!-- 03. 장바구니 전부 삭제 -->
    <delete id="deleteAll">
        DELETE
        FROM basket
        where midx = #{midx}
    </delete>
</mapper>