<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">

    <resultMap type="com.bitcamp.sc.domain.comment.domain.Comment" id="CommentVo">
        <result property="idx" column="id"/>
        <result property="writer" column="writer"/>
        <result property="content" column="content"/>
        <result property="insertTime" column="insert_time"/>
        <result property="reviewIdx" column="review_id"/>
    </resultMap>

    <select id="findAll" resultMap="CommentVo" parameterType="long">
        select id, writer, insert_time, content,review_id from comment
        where id > 0 and review_id = #{reviewIdx}
        order by id desc
    </select>

    <select id="totalCommentCount" parameterType="long" resultType="int">
        select count(*) from comment where review_id = #{reviewIdx}
    </select>

    <insert id="save" parameterType="com.bitcamp.sc.domain.comment.domain.Comment" useGeneratedKeys="true"
            keyProperty="idx">
        insert into comment(writer, content, review_id)
        values (#{writer},#{content},#{reviewIdx})
    </insert>

    <update id="modifyComment" parameterType="com.bitcamp.sc.web.comment.dto.CommentDto" >
        update comment set content = #{content}, writer = #{writer} where id = #{idx}
    </update>

    <delete id="removeComment" parameterType="long">
        delete
        from comment
        where id = #{idx}
    </delete>
</mapper>