<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>신촌 맥주 : 로그인</title>
<!-- metaheader 영역 -->
	<style>
		.field-error {
			border-color: #dc3545;
			color: #dc3545;
		}
	</style>

<th:block th:replace="frame/metaheader"></th:block>
<link rel="stylesheet" th:href="@{/css/member/loginForm.css}">
</head>
<body>
	<!-- header 영역 -->
	<th:block th:replace="frame/header"></th:block>
	<!-- nav 영역 -->
	<th:block th:replace="frame/nav"></th:block>

	<!-- content 영역 -->
	<!-- login 메인 전체 영역 -->
	<div id="loginMain_wrap">
		<div class="loginTitle">LOGIN</div>
		<div id="loginSection">
			<form id="loginForm" th:object="${loginForm}" method="post" th:action >
				<div th:if="${#fields.hasGlobalErrors()}">
					<p class="field-error" th:each="err : ${#fields.globalErrors()}"
					   th:text="${err}">전체 오류 메시지</p>
				</div>
				<div class="form_box margin_top">
					<input type="text" placeholder="이메일"  th:field="*{email}"
						class="loginLongBox" th:value="*{email}" th:errorclass="field-error">
					<div class="field-error" th:errors="*{email}"></div>
					<input type="password" placeholder="비밀번호"  th:field="*{pw}" class="loginLongBox" th:errorclass="field-error">
					<div class="field-error" th:errors="*{pw}"></div>
				</div>
				<div class="msg_space">
					<div class="msg display_none"></div>
				</div>
				<div class="cookie_chk margin_top">
					<input type="checkbox" id="reEmail"  th:field="*{reEmail}">
					<label for="reEmail">이메일 기억하기</label>
				</div>
				<div class="margin_top">
					<input type="submit" value="로그인" class="loginLongBox">
				</div>
			</form>
			<!-- login 이 외의 링크 -->
			<div id="middle" class="margin_top">
				<a th:href="@{/members/add-type}">회원가입</a>
				<a th:href="@{/members/find}" class="float_right">이메일/비밀번호찾기</a>
			</div>
		</div>
	</div>
	<!-- footer 영역 -->
	<th:block th:replace="frame/footer"></th:block>
</body>
</html>