<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">

<resultMap type="com.bitcamp.sc.domain.review.domain.ReviewVO" id="ReviewVo">
	<result property="idx" column="id"/>
	<result property="title" column="title"/>
	<result property="name" column="name"/>
	<result property="contents" column="contents"/>
	<result property="rate" column="rate"/>
	<result property="date" column="date"/>
	<result property="likes" column="rlikes"/>
	<result property="viewcnt" column="viewcnt"/>
	<result property="gphoto" column="photo"/>
</resultMap>

	<select id="findAll" resultMap="ReviewVo">
		select id, title, date, photo from review
	</select>
	<insert id="save" parameterType="com.bitcamp.sc.domain.review.domain.ReviewVO" useGeneratedKeys="true" keyProperty="idx">
		insert into review(title,name,contents,photo,category,rate) values (#{title},#{name},#{contents},#{gphoto},#{category},#{rate})
	</insert>

	
</mapper>
